
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
body{
    margin: 0;
    padding: 0;
} 
h1, h2 { color: rgb(28, 49, 236);
    font-family: "noto sans jp"
    font-weight: 800;
    padding: 10px 15px 20px 25px;
}
h3{ 
    font-family: "noto Sans Jp";
color: rgb(255, 20, 147);
}

p{

}